*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#111827;
    color:white;
}

header{
    background:#0f172a;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    color:white;
    transition:0.3s;
    padding:8px 14px;
    border-radius:8px;
}

nav li:hover{
    background:#38bdf8;
    color:black;
}
nav a{
    text-decoration:none;
    color:white;
    transition:0.3s;
    padding:8px 14px;
    border-radius:8px;
}

nav a:hover{
    background:#38bdf8;
    color:black;
}

.hero{
    height:300px;
    background-image: url("https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:format(webp):quality(75)/2024_2_19_638439182096879788_anh-anime-chill-lofi.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:50px;
    color:white;
}

.hero p{
    margin-top:10px;
    font-size:18px;
    color:#ddd;
}

.category{
    padding:40px;
}

.category h2{
    margin-bottom:20px;
    color:#38bdf8;
    font-size:32px;
}

.story-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    background:#1e293b;
    border-radius:18px;
    overflow:hidden;
    transition:0.4s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 10px 25px rgba(56,189,248,0.5);
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.content{
    padding:15px;
}

.content h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.content p{
    font-size:14px;
    color:#ddd;
    line-height:1.5;
}

.btn{
    display:inline-block;
    margin-top:12px;
    padding:10px 15px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
    font-weight:bold;
}

.btn:hover{
    background:white;
}

footer{
    margin-top:50px;
    background:#0f172a;
    text-align:center;
    padding:20px;
    color:#aaa;
}
